/* Coolors Exported Palette - https://coolors.co/b6d094-e1aa7d-be8a60-6a2e35-2e2836 */

/* CSS HEX */
--olivine: #b6d094ff;
--buff: #e1aa7dff;
--persian-orange: #be8a60ff;
--wine: #6a2e35ff;
--raisin-black: #2e2836ff;

/* CSS HSL */
--olivine: hsla(86, 39%, 70%, 1);
--buff: hsla(27, 63%, 69%, 1);
--persian-orange: hsla(27, 42%, 56%, 1);
--wine: hsla(353, 39%, 30%, 1);
--raisin-black: hsla(266, 15%, 18%, 1);

/* SCSS HEX */
$olivine: #b6d094ff;
$buff: #e1aa7dff;
$persian-orange: #be8a60ff;
$wine: #6a2e35ff;
$raisin-black: #2e2836ff;

/* SCSS HSL */
$olivine: hsla(86, 39%, 70%, 1);
$buff: hsla(27, 63%, 69%, 1);
$persian-orange: hsla(27, 42%, 56%, 1);
$wine: hsla(353, 39%, 30%, 1);
$raisin-black: hsla(266, 15%, 18%, 1);

/* SCSS RGB */
$olivine: rgba(182, 208, 148, 1);
$buff: rgba(225, 170, 125, 1);
$persian-orange: rgba(190, 138, 96, 1);
$wine: rgba(106, 46, 53, 1);
$raisin-black: rgba(46, 40, 54, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b6d094ff, #e1aa7dff, #be8a60ff, #6a2e35ff, #2e2836ff);
$gradient-right: linear-gradient(90deg, #b6d094ff, #e1aa7dff, #be8a60ff, #6a2e35ff, #2e2836ff);
$gradient-bottom: linear-gradient(180deg, #b6d094ff, #e1aa7dff, #be8a60ff, #6a2e35ff, #2e2836ff);
$gradient-left: linear-gradient(270deg, #b6d094ff, #e1aa7dff, #be8a60ff, #6a2e35ff, #2e2836ff);
$gradient-top-right: linear-gradient(45deg, #b6d094ff, #e1aa7dff, #be8a60ff, #6a2e35ff, #2e2836ff);
$gradient-bottom-right: linear-gradient(135deg, #b6d094ff, #e1aa7dff, #be8a60ff, #6a2e35ff, #2e2836ff);
$gradient-top-left: linear-gradient(225deg, #b6d094ff, #e1aa7dff, #be8a60ff, #6a2e35ff, #2e2836ff);
$gradient-bottom-left: linear-gradient(315deg, #b6d094ff, #e1aa7dff, #be8a60ff, #6a2e35ff, #2e2836ff);
$gradient-radial: radial-gradient(#b6d094ff, #e1aa7dff, #be8a60ff, #6a2e35ff, #2e2836ff);