:root{
    --size-h: 33px;
    --size-w: 66px;
    --border-radius: 500px;
    user-select: none;
}
.modal-c-custom{
    padding-top: 20vh;background-color: #00000087 !important;
    backdrop-filter: blur(1rem) !important;
}
input[type="checkbox"].demo5 {display: none;}
input[type="checkbox"].demo5 + label {
    box-sizing: border-box;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    padding:2px;
    background-color: #c0ceda ;
    transition: all 0.5s ;
}
input[type="checkbox"].demo5 + label::before {
    box-sizing: border-box;
    display: block;
    content: "";
    height: calc(1.5rem - 4px);
    width: calc(1.5rem - 4px);
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s ;
}
input[type="checkbox"].demo5:checked + label {
    background-color: #00B7E8 ;
}
input[type="checkbox"].demo5:checked + label::before {
    margin-left: 1.5rem ;
}
input[type="color"] {
    border-radius: var(--border-radius);
    height: var(--size-h);width: var(--size-w);
    cursor: pointer;transition: 400ms;
    appearance: none;
    -webkit-appearance: none;border: none;
    background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    height: var(--size-h);width: var(--size-w);
    padding: 0;
    position: relative;left: 0;
    border: 0.2px solid #43474e;
}
input[type="color"]::-webkit-color-swatch-wrapper:hover {
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    box-shadow: 0px 1px 5px 1px var(--c-color2);
    height: var(--size-h);width: var(--size-w);
    cursor: pointer;
    transition: 400ms;padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    height: var(--size-h);width: var(--size-w);
    border: none;padding: 0;
}
input[type="text"]{
    background-color: var(--c-dark);
    padding: 10px;
    color: var(--c-txt);
    border: 1px solid var(--c-dark);
    border-bottom: 2px solid var(--c-main);
    border-radius: 5px;
    font-size: large;
}
input[type="file"]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    cursor: pointer;
}
.input-center{
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}
input:focus {
    outline:  none;
}
/* MODAL */
.modal-header{background-color:#43474e;color: #6c3;border: 1px transparent; font-size: large;}
.modal-footer{background-color: #242424;color: #09f;}
.modal-body{
    border: 0.2px solid rgba(104, 104, 104, 0.632);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: none;}
.modal-content{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.input-m{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}