:root{
    --size-h: 20px;
    --size-w: auto;
    --border-radius: 5px
}
.modal-c-custom{padding-top: 25vh;}
input[type="color"] {
    border-radius: var(--border-radius);
    height: var(--size-h);width: var(--size-w);
    cursor: pointer;transition: 400ms;
    appearance: none;
    -webkit-appearance: none;border: none;
    background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    height: var(--size-h);width: var(--size-w);
    padding: 0;
    position: relative;left: 0;
    border: 0.2px solid #43474e;
}
input[type="color"]::-webkit-color-swatch-wrapper:hover {
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    box-shadow: 0px 1px 5px 1px var(--c-color2);
    height: var(--size-h);width: var(--size-w);
    cursor: pointer;
    transition: 400ms;padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    height: var(--size-h);width: var(--size-w);
    border: none;padding: 0;
}
input[type="text"]{
    background-color: var(--c-dark);
    padding: 10px;
    color: var(--c-txt);
    border: 1px solid var(--c-dark);
    border-bottom: 2px solid var(--c-main);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: large;
}

input[type="file"]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    cursor: pointer;
}

.input-center{
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}
/* MODAL */
.modal-header{background-color:#43474e;color: #6c3;border: 1px transparent; margin-bottom: 1rem;font-size: large;}
.modal-footer{background-color: #242424;color: #09f;}
.modal-body{background-color: rgb(213, 231, 205)}
.modal-content{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}