body {
    overflow-x: hidden !important;
}

.btn-upsidedown{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 2px !important;
}

.center-b{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.tuilebox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-top: 4rem;
}

.tuilebox> div {
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    padding: 1rem;
    display: grid;
    place-items: center;
    grid-template-rows: 85% 1% 6%;
    margin-top: 0 !important;
}

.tuilebox> div> div {
    height: 98%;
    width: 98%;
}

.tuilebox> div> div> img {
    height: 100%;
}

.tuilebox> div> hr {
    margin-top: 15%;
    height: 2px !important;
    width: 98% !important;
    background-color: #22222252
}

.tuilebox> div> h3 {
    height: 100%;
    margin-top: 10%;
    text-align: center;
}
/* a remttre dans styles.css */
.modal-c-custom{
    margin-top: 25vh;
}


/* 







 */